.App {
  text-align: center;
  font-family: "Rubik", sans-serif;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 15px auto;
}
#opnSrcLink {
  text-align: center;
  font-family: "Luxurious Roman", cursive;
}
.displayStatus {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.toggle {
  align-self: flex-end;
}
.time-component {
  text-align: left;
}
.main-btn,
.fav-btn {
  margin-right: 5px;
}
.keren {
  display: block;
}
@media (min-width: 320px) {
  .toggle {
    display: inline;
  }
}
@media (min-width: 481px) {
  .header {
    flex-direction: row;
  }
}
@media (min-width: 769px) {
  .App {
    max-width: 720px;
  }
  .header {
    max-width: 720px;
    flex-direction: row;
  }
  .time {
    width: 40%;
  }
  .displayStatus {
    align-self: flex-end;
    display: flex;
  }
  .toggle {
    align-self: flex-end;
  }
  .keren {
    display: inline;
  }
}
