.App {
  text-align: center;
  font-family: "Rubik", sans-serif;
}
#opnSrcLink {
  text-align: left;
  font-family: "Luxurious Roman", cursive;
  margin-left: 20%;
  max-width: 800px;
  min-width: 730px;
}
.time {
  /* float: left; */
}
