.App {
  text-align: center;
  font-family: "Rubik", sans-serif;
  max-width: 720px;
}
.header {
  display: flex;
  justify-content: space-between;
}
#opnSrcLink {
  text-align: center;
  font-family: "Luxurious Roman", cursive;
}
.displayStatus {
  align-self: flex-end;
}
.toggle {
  align-self: flex-end;
}
.time {
  width: 40%;
  text-align: left;
}
.main-btn {
  margin-right: 5px;
}
